@import url(./bootstrap.min.css);
@import url(./index.css);
@import url(./responsive.css);
body {
  background-color: var(--body-2);
  color: var(--body-text-color);
}
.home-title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}
.header-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(10px);
}

.navbar {
  width: 75%;
  margin: auto;
}

.home-title h1 {
  font-size: 50px;
  margin-bottom: 2rem;
}
.home-title p {
  font-size: 22px;
}
.btn-blue.show {
  display: inline-block;
  opacity: 1;
}
.btn-blue.close {
  display: inline-block;
  opacity: 0;

  pointer-events: none;
}
.netflix-text {
  color: #d60707;
  font-size: 42px;
  font-weight: 600;
  border-radius: 384px;
}

.mobil-card-section-position {
  border: 1px solid #686868;
  position: absolute;
  border-radius: 12px;
  top: 70%;
  left: 50%;
  min-width: 60%;
  transform: translate(-50%, -50%);
  background-color: black;
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
}
.mobil-card-section-position .mobil-picture {
  max-width: 50%;
}
.mobil-card-section-position .download-img {
  margin-left: 0rem;
}
.mobil-card-section-position p {
  line-height: 1rem;
}
.accordion-button {
  color: #fff;
}

