@import url(./bootstrap.min.css);
@import url(./index.css);
@import url(./responsive.css);
body {
  background-color: var(--body-2);
  color: var(--body-text-color);
}
.home-title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}
.header-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(10px);
}

.navbar {
  width: 75%;
  margin: auto;
}

.home-title h1 {
  font-size: 50px;
  margin-bottom: 2rem;
}
.home-title p {
  font-size: 22px;
}
.btn-blue.show {
  display: inline-block;
  opacity: 1;
}
.btn-blue.close {
  display: inline-block;
  opacity: 0;

  pointer-events: none;
}
.netflix-text {
  color: #d60707;
  font-size: 42px;
  font-weight: 600;
  border-radius: 384px;
}

.mobil-card-section-position {
  border: 1px solid #686868;
  position: absolute;
  border-radius: 12px;
  top: 70%;
  left: 50%;
  min-width: 60%;
  transform: translate(-50%, -50%);
  background-color: black;
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
}
.mobil-card-section-position .mobil-picture {
  max-width: 50%;
}
.mobil-card-section-position .download-img {
  margin-left: 0rem;
}
.mobil-card-section-position p {
  line-height: 1rem;
}
.accordion-button {
  color: #fff;
}
.auth-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../image/NetflixAuthImg.jpg);
  filter: brightness(45%);
  z-index: -1;
}

.auth-form {
  padding: 1rem;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.auth-content {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-form.singIn .form-register {
  position: absolute;
  top: 0;
  right: 100%;
  min-width: 200px;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}
.auth-form.singUp .form-register {
  position: absolute;
  top: 0;
  right: 0%;
  min-width: 200px;
  z-index: 1;
  pointer-events: all;
  opacity: 1;
}

.auth-form.singIn .form-login {
  position: absolute;
  left: 0;
  pointer-events: all;
}
.auth-form.singUp .form-login {
  position: absolute;
  left: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  min-width: 200px;
}

.form-login,
.form-register {
  transition: all 0.8s;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  padding: 1rem;
  margin: 0 1rem;
}
