@import url(./bootstrap.min.css);
@import url(./index.css);
@import url(./responsive.css);
body {
    background-color: var(--body);
  }
  .home-title {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
  }
  .home-title h1 {
    font-size: 52px;
  }
  .home-title p {
    font-size: 22px;
  }
  .btn-blue.show {
    display: inline-block;
    opacity: 1;
  
  }
  .btn-blue.close {
    display: inline-block;
    opacity: 0;
  
    pointer-events: none;
  }